{% extends 'dh5bp/base.html' %}
{% block title %}Competitions{% endblock title%}
{% load static from staticfiles %}
{% block content %}
{% autoescape on %}

<link rel="stylesheet" href="static/css/skeleton.css">

<br>
<div id="competitions" class="container">
    <script type="text/javascript" src="{% static 'js/reconnecting-websocket.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/competitions.js' %}"></script>
</div>

<script type="text/javascript">
    filterCompetitions();

    function filterCompetitions() {
        findCompetitions(document, "{{ filter | safe | escape }}".replace(/'/g, '\"'));
    }
</script>

{% endautoescape %}
{% endblock content %}
