{% autoescape on %}

{% for competition in competitions %}

{% if competition %}
<ul>
    <h1>{{ competition.name }}</h1>
    <table width="100%">
        <tr>
            <th>Time</th>
            <th>Home Team</th>
            <th>Away Team</th>
        </tr>
        {% for match in competition.matches %}
        <tr>
            <td>{{ match.datetime }}</td>
            <td>{{ match.homeTeam }} ({{ match.homeTeamStanding }})</td>
            <td>{{ match.awayTeam }} ({{ match.awayTeamStanding }})</td>
        </tr>
        {% endfor %}
    </table>
</ul>
{% else %}
<p>{{ filter }}</p>
<p>No leagues found</p>
{% endif %}

{% endfor %}

{% endautoescape %}