{% extends 'dh5bp/base.html' %}
{% block title %}Competitions For Under/Over Query{% endblock %}
{% load static from staticfiles %}
{% block content %}
{% autoescape on %}

<link rel="stylesheet" href="static/css/skeleton.css">

<div class="container">
{% for competition in competitions %}

    <h3>{{ competition.name }}</h3>
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Time</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Under or Equal Chance</th>
                <th>Over or Equal Chance</th>
            </tr>
        </thead>
        <tbody>
            {% for match in competition.matches %}
            <tr>
                <td>{{ match.datetime }}</td>
                <td>{{ match.homeTeam }}</td>
                <td>{{ match.awayTeam }}</td>
                <td>{{ match.stats.under_or_equal_chance }}%</td>
                <td>{{ match.stats.over_or_equal_chance }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endfor %}
</div>

{% endautoescape %}
{% endblock %}
