{% extends 'dh5bp/base.html' %}
{% block title %}Football Site{% endblock %}
{% load staticfiles %}
{% block content %}
{% autoescape on %}

<link rel="stylesheet" href="static/css/skeleton.css">

<br>
<div class="container">
    <form action="competitions" method="get">
        <div class="row">
            <div class="six columns">
                <label for="league">League</label>
            </div>
            <div class="six columns">
                <select id="league" name="league">
                    <option value="All">All Leagues</option>
                    {% for league in leagues %}
                    <option value="{{ league.league }}">{{ league.caption }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="filtertype">Filter Type</label>
            </div>
            <div class="six columns">
                <select id="filtertype" name="filtertype" onchange="refreshFields()">
                    {% for filter in filters %}
                    <option value="{{ filter.type }}">{{ filter.type|capfirst }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="percent">Percent</label>
            </div>
            <div class="six columns">
                <input id="percent" name="percent" type="number" min="1" max="100">
            </div>
        </div>
        <div id="divnumberofgoals" class="row">
            <div class="six columns">
                <label for="numberofgoals">Number of Goals</label>
            </div>
            <div class="six columns">
                <input id="numberofgoals" name="numberofgoals" type="number" min="0">
            </div>
        </div>
        <div id="divhalffulltime" class="row">
            <div class="six columns">
                <label for="halffulltime">Match Result At</label>
            </div>
            <div class="six columns">
                <select id="halffulltime" name="halffulltime">
                    <option value="fulltime">Full Time</option>
                    <option value="halftime">Half Time</option>
                </select>
            </div>
        </div>
        <div id="divhomeaway" class="row">
            <div class="six columns">
                <label for="homeaway">Home Away</label>
            </div>
            <div class="six columns">
                <input type="checkbox" id="homeaway" name="homeaway">
            </div>
        </div>
	<br>
        <div class="row">
            <input type="submit">
        </div>
    </form>
</div>

<script type="text/javascript">
function refreshFields() {
    var filterTypeOption = document.getElementById("filtertype");
    var selectedFilterType = filterTypeOption.options[filterTypeOption.selectedIndex].value;

    var filters = JSON.parse("{{ filters | safe | escapejs }}".replace(/'/g, '\"'));
    var selectedFilter = $.grep(filters, function(f){ return f.type == selectedFilterType; })[0];

    var allFields = ['numberofgoals', 'halffulltime', 'homeaway'];
    for(var fieldIndex in allFields) {
        document.getElementById('div' + allFields[fieldIndex]).style.display = 'none';
        document.getElementById(allFields[fieldIndex]).disabled = true;
    }    
    
    for(var fieldIndex in selectedFilter.fields) {
	document.getElementById('div' + selectedFilter.fields[fieldIndex]).style.display = 'block';
	document.getElementById(selectedFilter.fields[fieldIndex]).disabled = false;
    }
}
</script>

{% endautoescape %}
{% endblock %}

