{% autoescape on %}

<h1>Select Filter</h1>

<form action="competitions" method="get">
    <table>
        <tr>
            <td><b><label for="league">League</label></b></td>
            <td><select id="league" name="league">
                <option value="All">All Leagues</option>
                {% for league in leagues %}
                <option value="{{ league }}">{{ league }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td><b><label for="filter_type">Filter Type</label></b></td>
            <td><select id="filter_type" name="filter_type">
                {% for filter in filters %}
                <option value="{{ filter.type }}">{{ filter.type|capfirst }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td><b><label for="percent">Percent</label></b></td>
            <td><input id="percent" name="percent" type="number" min="1" max="100"></td>
        </tr>
        <tr>
            <td><b><label for="numberofgoals">Number of Goals</label></b></td>
            <td><input id="numberofgoals" name="numberofgoals" type="number" min="1" max="9"></td>
        </tr>
        <tr>
            <td><b><label for="homeaway">Home Away</label></b></td>
            <td><input type="checkbox" id="homeaway" name="homeaway"></td>
        </tr>
        <tr>
            <td><input type="radio" id="halftime" name="halffulltime" value="halftime"><label for="halftime">Half
                Time</label></td>
            <td><input type="radio" id="fulltime" name="halffulltime" value="fulltime" checked><label for="fulltime">Full
                Time</label></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>

{% endautoescape %}