[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==1.11.6"
requests = "==2.18.4"
gunicorn = "==19.7.1"
certifi = "==2017.7.27.1"
chardet = "==3.0.4"
"flake8" = "==3.4.1"
idna = "==2.6"
matchfinder = {editable = true, git = "https://github.com/ferhatsahinkaya/matchfinder.git", ref = "59f89c05d1a59229eed47d8ee7d299536d2a0329"}
mccabe = "==0.6.1"
pew = "==1.1.0"
pipenv = "==8.2.7"
pycodestyle = "==2.3.1"
pyflakes = "==1.5.0"
"urllib3" = "==1.22"
virtualenv = "==15.1.0"
virtualenv-clone = "==0.2.6"
pytz = "==2017.2"
"django-html5-boilerplate" = "*"
whitenoise = "*"


[dev-packages]



[requires]

python_version = "3.6"