[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "==1.11.6"
requests = "==2.18.4"
gunicorn = "==19.7.1"
certifi = "==2017.7.27.1"
chardet = "==3.0.4"
"flake8" = "==3.4.1"
idna = "==2.6"
matchfinder = {git = "https://github.com/ferhatsahinkaya/matchfinder.git", editable = true, ref = "90549b1eef02aea0a94a6dbd9d02b90c83348837"}
mccabe = "==0.6.1"
pew = "==1.1.0"
pipenv = "==8.2.7"
pycodestyle = "==2.3.1"
pyflakes = "==1.5.0"
"urllib3" = "==1.22"
virtualenv = "==15.1.0"
virtualenv-clone = "==0.2.6"
pytz = "==2017.2"
"django-html5-boilerplate" = "==1.0.8"
whitenoise = "==3.3.1"
django-jquery = "==3.1.0"
boilerplate = "==1.2.3"
"django-html5" = "==1.0.0"
channels = "==1.1.8"
asgi_redis = "==1.4.3"
asgiref = "==1.1.2"
attrs = "==17.2.0"
autobahn = "==17.9.3"
Automat = "==0.6.0"
click = "==6.7"
constantly = "==15.1.0"
daphne = "==1.3.0"
Flask = "==0.12.2"
Flask-Sockets = "==0.2.1"
gevent = "==1.2.2"
gevent-websocket = "==0.10.1"
greenlet = "==0.4.12"
hyperlink = "==17.3.1"
incremental = "==17.5.0"
itsdangerous = "==0.24"
"Jinja2" = "==2.9.6"
MarkupSafe = "==1.0"
msgpack-python = "==0.4.8"
redis = "==2.10.6"
Twisted = "==17.9.0"
txaio = "==2.8.2"
Werkzeug = "==0.12.2"
"zope.interface" = "==4.4.3"


[dev-packages]



[requires]

python_version = "3.6"